{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Games in Progress{% endblock %}

{% block content %}
<div class="container">
    <h1>Games in Progress</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Players</th>
            <th>Publically Visible?</th>
        </tr>
    </thead>
    <tbody>
        {% if user.games %}
        {% for game in user.games %}
        <tr>
            <td><a href="{{ url_for('html.game', id=game.id) }}">{{ game.name }}</a></td>
            <td>{{ game.players|join(', ', attribute='name') }}</td>
            <td>{% if game.public %}Yes{% else %}No{% endif %}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
</div>
{% endblock %}