{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Create a new game{% endblock %}

{% block content %}
<div class="container">
    <h1>Create a new game</h1>
    <form method="POST" role="form">
        {{ form.hidden_tag() }}
        <div class="form-group">
        <label>{{ form.name.label.text }}</label>
        {{ form.name(size=20, maxlength=60,placeholder='Enter name') }}
        </div>
        <div class="form-group">
        <label>{{ form.password.label.text }}</label>
        {{ form.password(size=20, maxlength=60,placeholder='Enter password') }}
        </div>
        <div class="form-group">
        <label>{{ form.confirm.label.text }}</label>
        {{ form.confirm(size=20, maxlength=60,placeholder='Repeat password') }}
        </div>
        <div class="form-group">
        <label>{{ form.game_map.label.text }}</label>
        {{ form.game_map() }}
        </div>
        <div class="form-group">
        <label>{{ form.other_players.label.text }}</label>
        {{ form.other_players() }}
        </div>
        <div class="form-group">
        <label>{{ form.public.label.text }}</label>
        {{ form.public() }}
        </div>
        <input type="submit" value="Create" class="btn btn-default">
    </form>
</div>
{% endblock %}