{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Game: {{ game.name }} {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('html.tiles') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Game: {{ game.name }} {%if game.is_victory %}(Victor: {{ game.victor.name }}){% elif game.is_draw %}(Draw)
    {% elif current_user == game.active_player %}
    <span>(Your Turn)</span>
    {% endif %}
    </h1>
    <div class="panel panel-primary"> 
        <div class="panel-heading">
            <h3 class="panel-title">Game board</h3>
        </div>
        <div class="panel-body">
            <table>
            {% for y in range(map.height) %}
            <tr>
            {% for x in range(map.width) %}
            {% set tile = map.board[(y*map.width) + x] %}
            <td class="tile{{ tile.tiletype.id }}">
            <div class="tint" data-x="{{ x }}" data-y="{{ y }}">
            {% set unit = unit_on_tile(x, y, game) %}
            {% if unit %}
            {% set team = unit.owner.games_with_team.filter_by(game=game).first().team_id %}
            <img src="{{ url_for('static', filename=unit.unit_type.image_path.format(team_colour=colours[team])) }}" alt="{{ tile.spawn_type.name }}" data-toggle="tooltip" data-placement="bottom" title="HP:{{ unit.hp }}/A:{{ unit.ammo }}/F:{{ unit.fuel }}" data-is-unit="true" data-unit="{{ unit.id }}" data-players="{{ current_user == unit.owner }}">
            {% endif %}
            </div>
            </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Players</h3>
            <ul>
            {% for player in game.players_with_team %}
                <li><a href="{{ url_for('html.user', id=player.user.id) }}">{{ player.user.name }}</a> {% if player.disqualified %}(Disqualified){% endif %}</li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}
<script type="text/javascript">
$SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
$(function () {
  $('[data-toggle="tooltip"]').tooltip();
});
</script>
{% if not (game.is_victory or game.is_draw) %}
<script type="text/javascript" src="{{ url_for('static', filename='js/controls.js') }}"></script>
{% endif %}
{% endblock %}