{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Leaderboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Leaderboard</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Username</th>
            <th>Wins</th>
            <th>Losses</th>
            <th>Win Rate</th>
        </tr>
    </thead>
    <tbody>
        {% if users %}
        {% for user in users %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ user.name }}</td>
            <td>{{ user.wins }}</td>
            <td>{{ user.losses }}</td>
            <td>{{ user.winrate * 100 }} %</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>
</div>
{% endblock %}