{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Login {% endblock %}

{% block content %}
<div class="container">
    <h1>Login</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="form-group">
        <label>{{ form.username.label.text }}</label>
        {{ form.username(size=20, maxlength=60,placeholder='Enter username') }}
        </div>
        <div class="form-group">
        <label>{{ form.password.label.text }}</label>
        {{ form.password(size=20, maxlength=60,placeholder='Enter password') }}
        </div>
        <input type="submit" value="Login" class="btn btn-default">
    </form>
</div>
{% endblock %}