{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Map: {{ map.name }} {% endblock %}

{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('html.tiles') }}">
{% endblock %}

{% block content %}
<div class="container">
    <h1>Map: {{ map.name }}</h1>
    <div class="panel panel-primary"> 
        <div class="panel-heading">
            <h3 class="panel-title">Map layout</h3>
        </div>
        <div class="panel-body">
            <table>
            {% for y in range(map.height) %}
            <tr>
            {% for x in range(map.width) %}
            {% set tile = map.get_tile(x,y) %}
            <td class="tile{{ tile.tiletype.id }}">
            {% if tile.spawn_type %}
            <img src="{{ url_for('static', filename=tile.spawn_type.image_path.format(team_colour=colours[tile.spawn_team])) }}" alt="{{ tile.spawn_type.name }}"/>
            {% endif %}
            </td>
            {% endfor %}
            </tr>
            {% endfor %}
            </table>
        </div>
    </div>

    <div class="panel panel-info">
        <div class="panel-heading">
            <h3 class="panel-title">Starting Units</h3>
        </div>
    </div>
</div>
{% endblock %}