{% extends "scrap_base.html" %}

{% block title %} {{ super() }} Leaderboard{% endblock %}

{% block content %}
<div class="container">
    <h1>Maps</h1>
    <table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Created by</th>
            <th>Size</th>
            <th>Max Teams</th>
        </tr>
    </thead>
    <tbody>
        {% if maps %}
        {% for map in maps.items %}
        <tr>
            <td><a href="{{ url_for('html.map', id=map.id) }}">{{ map.name }}</a></td>
            <td>{{ map.creator.name }}</td>
            <td>{{ map.width }}x{{ map.height }}</td>
            <td>{{ map.max_teams }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </tbody>
    </table>

    <nav>
        <ul class="pagination">
        {% for page in maps.iter_pages() %}
        {% if page %}
        {% if page == maps.page %}
        <li><a href="#">{{ page }}</a>
        {% else %}
        <li><a href="{{ url_for('html.map_list', id=page) }}">{{ page }}</a>
        {% endif %}
        {% endif %}
        {% endfor %}
        </ul>
    </nav>
</div>
{% endblock %}