{% extends "bootstrap/base.html" %}

{% block title %}Tank Scrap -{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <!-- Title and collapse button -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse-navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Tank Scrap</a>
        </div>

        <!-- Links -->
        <div class="collapse navbar-collapse" id-"collapse-navbar">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('html.index') }}">Home</a></li>
                <li><a href="{{ url_for('html.leaderboard') }}">Leaderboard</a></li>
                <li><a href="{{ url_for('html.map_list', id=1) }}">Maps</a></li>
            {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('html.create_game') }}">Create a new game</a></li>
                <li><a href="{{ url_for('html.active_games') }}">Games in Progress</a></li>
            {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
                <li><a href="{{ url_for('html.user', id=current_user.id) }}">Hello, {{ current_user.name }}</a></li>
                <li><a href="{{ url_for('html.logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ url_for('html.login') }}">Login</a></li>
                <li><a href="{{ url_for('html.register') }}">Register</a></li>
            {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="container">
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for cat, message in messages %}
    <div class="alert alert-{{ cat }} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
        </button>
        <strong>{{ cat }}</strong> {{ message }}
    </div>
    {% endfor %}
    {% endif %}
{% endwith %}
</div>
{% endblock %}
