{% for tile in tiles %}
.tile{{ tile.id }} {
    background-image: url("..{{url_for('static', filename=tile.image_path)}}");
    width: 64px;
    height: 64px;
}
{% endfor %}

.tint {
    width: 64px;
    height: 64px;
}

.red {
    background-color: rgba(255,0,0,0.5);
}

.blue {
    background-color: rgba(0,0,255,0.5);
}