{% extends "scrap_base.html" %}

{% block title %} {{ super() }} User: {{ user.name }} {% endblock %}

{% block content %}
<div class="container">
<h1>{{ user.name }}</h1>

<ul>
<li><b>Games Played:</b> {{ user.games_played }}</li>
<li><b>Winrate:</b> {{ user.winrate * 100 }}%</li>
<li><b>Wins:</b> {{ user.wins }}</li>
<li><b>Losses:</b> {{ user.losses }}</li>
</ul>
</div>
{% endblock %}